# This is my title
## H2
### H3

This is my normal text.

This is **bold** text and *italics*

# Variable examples

In [27]:
a = 2
b = 3

print(a+b)

5

# Assignment operators

In [28]:
name = "Bob Cook"
print(name)

Bob Cook

In [29]:
x = 5
x += 3
print(x)

8

In [30]:
x = 5
x -= 3
print(x)

2

In [31]:
x = 5
x *= 2
print(x)

10

In [32]:
x = 9
x /= 2
print(x)

4.5

In [33]:
x = 10
x %= 3
print(x)

1

In [34]:
x = 10
x//=6
print(x)

1

In [35]:
x = 10
x **=3
print(x)

1000

In [36]:
x = 16
y = 3

print(x//y)

5

# Comparison Operators

In [37]:
x = 10
y = 3

print(x==y)

False

In [39]:
pressureGauge1 = 175

warningLight = 175

print(pressureGauge1 == warningLight)

True

In [45]:
x = 176
y = 175

print(x == y)

False

In [42]:
x = 176
y = 175

print(x >y)

True

In [43]:
x = 176
y = 175

print(x < y)

False

In [47]:
x = 176
y = 175

x*=2

x//2

176

In [ ]:
print(x)

print(x+y)

z=""

352
527

# Logical operators

In [53]:
x = 10

print(x>2 and x <11)

True

In [52]:
x = 10

print(x>2 or x<10)

True

In [54]:
x = 10

print(not(x>2 and x<11))

False

# Identity operators

In [55]:
x=['truck', 'car', 'suv', 11]

print('car' in x)

True

In [57]:
x=['truck', 'car', 'suv', 11]

print('van' not in x)

True

# Data Types

## Numeric

In [58]:
x = 5
print(type(x))

<class 'int'>

In [59]:
x = 5.5
print(type(x))

<class 'float'>

In [60]:
x = 5*1j
print(x)

5j

## String

In [61]:
x = "Hello World"

print(x)

Hello World

In [62]:
x = '''
This is my first line
This is my second line
This is my third line'''

print(x)

This is my first line
This is my second line
This is my third line

In [73]:
x = "HELLO BOB"

print(x.lower())

hello bob

# Commenting code

In [ ]:
# This is an example of assigning values to a variable
# This is another comment

x = 10
print(x) # This is how you print the values on the screen


'''This is a multi-line
example of a code comment'''


example = '''This is a multi-line 
string exampley 
to show multi lines''' # Hey within this string purposely mispelled.
print(10+1)

10
11

# Indentation

In [ ]:
x = 10
y = 50

if x>y:
    print("x is greater than y")
else:
    print("y is greater than x")

y is greater than x